
    <div class="shop-list d-flex  align-items-baseline">

                {% for shop in shopList %}
                    <div class="shop">
                        <a href="{{ path('shop_visit') }}"><img src="{{ asset('build/images/'~shop~'.png') }}" class="img-fluid mx-auto d-block" alt="{{shop}}"></a>
                    </div>
                {% endfor %}

    </div>
