
    <div class="shop-list d-flex  align-items-baseline">

                {% for shop in shopList %}
                    <div class="shop">
                        <a href="{{ path('shop_visit', {'id':shop.id}) }}"><img src="{{ asset('build/images/'~shop.picture) }}" class="img-fluid mx-auto d-block" alt="{{shop.name}}"></a>
                    </div>
                {% endfor %}

    </div>
