$navbar-height: 64px;
$background:var(--white);

$primary: #A10115;
$secondary: #D72C16;
$dark: #626D71;

$spacing-h-small : 2.5vh;
$spacing-h-normal : 5vh;
$spacing-h-large : 10vh;

$spacing-w-small : 2.5vw;
$spacing-w-normal : 5vw;
$spacing-w-large : 10vw;
