@import "~bootstrap/scss/bootstrap";
@import "shopCarousel.scss";

@font-face {
    font-family: 'Source Sans';
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Julius';
    src: url(../fonts/JuliusSansOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Archivo';
    src: url(../fonts/archivo-narrow-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Quattrocento Sans';
    src: url(../fonts/QuattrocentoSans-Regular.ttf) format('truetype');
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #A10115;
    --secondary: #D72C16;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #FFFFFF;
    --dark: #626D71;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

$background:var(--white);

*{
    _box-sizing: border-box;
}

.navbar {

    padding:0;

    .navbar-nav {
        justify-content: space-around;
        width: 100%;
        border-bottom: thin solid var(--dark);
        background-color: $background;

        .nav-item{

            background-color: $background;
            line-height: 21px;

            word-spacing: 0;

            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-align: center;
            text-indent: 0px;

            font-size: 14px;
            letter-spacing: 1px;
            padding: 1.5em;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

//resetting navbar color theme
.navbar-light .navbar-nav .nav-link{
    $color: rgb(20, 70, 145);
    color: $color;
    opacity:70%;

    &.active{
        color: $color;
        opacity:100%;
    }

    &.disabled{
        color: $color;
        opacity:50%;
    }
}

body {
    background-color: var(--light);
    font-family: "Quattrocento Sans";
    color:var(--primary);
}

main{
    padding-top:65px;
}

.scroll-container{
    overflow: scroll;
    _min-width: max-content;
}

.cityBackground {
    background-image:url("../images/background/fuji.png");
    background-size: initial;
    background-position: 0px -100px;
    min-width: max-content;
}

.cityBuilding {
    background-image:url("../images/background/building-l100.png");
    background-position: left 0px bottom 0px;
    background-repeat:repeat-x;
    background-size: initial;
}

.shop-list{
    min-width : 100%;
    border : thin solid red;
    display: flex;
    flex-wrap: nowrap;
}

.shop{
    min-width:30vw;
    max-width:30vw;
    display:flex;
    align-items: flex-end;
}
