{% extends 'shop/shop_template.html.twig' %}

{% block main %}
    <main>

            {% include('shop/_museum.html.twig') %}
            {% include('shop/_webcam.html.twig') %}

    </main>
{% endblock %}
